---
---
<!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}</title>

  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ '/assets/css/app.min.css' | prepend: site.baseurl }}">
</head>
<body class="error-template">
  {% include header.html %}

  <main class="💈">
    <section class="mast section-padding">
      <div class="grid-small">
        <h2>404</h2>
        <p class="mast__text">This page does not exist.</p>
      </div>
    </section>
  </main>

  <footer class="footer section-padding">
    <div class="grid">
      {{#if @labs.subscribers}}
        <div class="subscribe" id="subscribe">
          <div class="subscribe__container">
            <span class="subscribe__title">Subscribe</span>
            <p class="subscribe__text">Get a weekly email of posts I’ve added to the site.</p>
            {{subscribe_form placeholder="Email Address"}}
          </div>
        </div>

        <hr class="sep"/>
      {{/if}}

      <div class="footer__container">
        {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 5 %}

        {% include social.html %}
      </div>
    </div>
  </footer>
</body>
</html>
