<section class="contact popup">
  <div class="popup__close">
    <div class="popup__exit"></div>
  </div>
  <div class="contact__container popup__container">
    <div class="contact__img">
      <figure class="absolute-bg" style="background-image: url({{ site.contact_img | prepend: site.baseurl }});"></figure>
    </div>
    <div class="contact__content">
      <div class="contact__mast section-padding--half">
        <div class="grid">
          <h2>Contact</h2>
        </div>
      </div>

      <div class="section-padding--none">
        <hr class="sep"/>
      </div>

      <div class="contact__form section-padding--half">
        <div class="grid-xlarge">
          {% include formcarry.html %}
        </div>
      </div>
    </div>
  </div>
</section>
