<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    {{#if @labs.subscribers}}
      <div class="subscribe" id="subscribe">
        <div class="subscribe__container">
          <span class="subscribe__title">Subscribe</span>
          <p class="subscribe__text">Get a weekly email of posts I’ve added to the site.</p>
          {{subscribe_form placeholder="Email Address"}}
        </div>
      </div>

      <hr class="sep"/>
    {{/if}}

    <div class="footer__container">
      {{#get "tags" limit="5" order="count.posts DESC"}}
        {{#if tags}}
          <ul class="footer__tags">
            {{#foreach tags}}
              <li>
                <a class="footer__link" href="{{url}}">{{name}}</a>
              </li>
            {{/foreach}}
          </ul>
        {{/if}}
      {{/get}}

      {% include social.html %}
    </div>
  </div>
</footer>

{{#if pagination.pages}}
<script>
  var maxPages = parseInt('{{pagination.pages}}');
</script>
{{/if}}

<script type="text/javascript" src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
