<ul class="post__social">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?&text={{title}}+{{url absolute="true"}}{{#author}}+by+{{#if twitter}}{{twitter}}{{else}}{{name}}{{/if}}{{/author}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="https://www.linkedin.com/shareArticle?mini=true&source={{title}}&summary={{meta_description}}&url={{url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://www.stumbleupon.com/badge/?url={{url absolute="true"}}" target="_blank"><i class="fa fa-stumbleupon"></i></a></li>
  <li><a href="https://www.reddit.com/submit?url={{url absolute="true"}}" target="_blank"><i class="fa fa-reddit-alien"></i></a></li>
  <li><a href="https://www.tumblr.com/share/link?url={{url absolute="true"}}" target="_blank"><i class="fa fa-tumblr"></i></a></li>
  <li><a href="https://www.pinterest.com/pin/create/link/?description={{meta_description}}&media={{feature_image}}&url={{url absolute="true"}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
</ul>
