<form method="POST" action="{{ site.mailchimp_action }}&amp;c=?" id="mc-signup" name="mc-embedded-subscribe-form" novalidate>
  <!-- This is required for the form to work correctly -->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="{{ site.mailchimp_input }}" tabindex="-1" value="">
  </div>

  <div class="form-group">
    <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address">
  </div>
  <div class="form__btn">
    <input id="mc-submit" type="submit" value="Sign Up" name="subscribe">
  </div>
</form>

<p class="subscribe__error hidden"></p>
