//----------------------------------------------
// Font Header
//----------------------------------------------
%font-header {
  @extend %letter-spacing;

  font-weight: 700;
}

//----------------------------------------------
// Letter Spacing
//----------------------------------------------
%letter-spacing {
  letter-spacing: 0.01em;
}

//----------------------------------------------
// Text Center
//----------------------------------------------
%text-center {
  text-align: center;
}
