//----------------------------------------------
// Flex Center
//----------------------------------------------
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//----------------------------------------------
// Auto Margin
//----------------------------------------------
%auto-margin {
  margin-right: auto;
  margin-left: auto;
}

//----------------------------------------------
// Box Shadow
//---------------------------------------------- 
%box-shadow {
  box-shadow: 0 1px 1px rgba($color-black, 0.1);
}
