//----------------------------------------------
// Page Transition
//---------------------------------------------- 
main {
  opacity: 0;

  .js-page-loaded & {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
  }

  .js-page-exiting & {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }
}

footer {
  opacity: 0;

  .js-page-loaded & {
    opacity: 1;
    transition-delay: 600ms;
  }

  .js-page-exiting & {
    opacity: 0;
    transition-delay: 0s;
  }
}


.error-template {

  main,
  footer {
    opacity: 1;
  }
}
