//----------------------------------------------
// Page Transition
//---------------------------------------------- 
main,
footer {
  opacity: 0;

  .js-page-loaded & {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
  }

  .js-page-exiting & {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }
}

.error-template {

  main,
  footer {
    opacity: 1;
  }
}
