//----------------------------------------------
// AMP Header
//---------------------------------------------- 
.header-amp {
  @extend %letter-spacing;
  @extend %box-shadow;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-999;

  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  background-color: $color-white;
  border-bottom: $border;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  &__title {
    @extend %font-header;

    font-size: $font-xsmall;
    color: $color-black;
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;

    & > * {
      @extend .header__title;

      &:not(:last-child) {
        margin-right: 1em;
      }

      a {
        color: $color-black;
      }
    }
  }
}

//----------------------------------------------
// AMP Footer
//---------------------------------------------- 
.footer-amp {
  background-color: $color-lightgrey;

  &__container {
    padding: 2em 1em 1em;

    @media (min-width: $mq-small) {
      padding: 3em 2em 2em;
    }

    border-top: $border;
    background-color: $color-white;
  }

  &__text {
    @extend %text-center;

    margin-bottom: 1em;
  }

  &__tags {
    @extend %flex-center;
    @extend %no-list-style;

    margin-bottom: 1em;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__link {
    font-size: $font-small;
    color: $color-grey;
    transition: color 200ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: $color-black;
    }
  }
}

.footer__social {
  @extend %flex-center;
  @extend %no-list-style;

  & > *:not(:last-child) {
    margin-right: 0.75em;
  }

  a {
    font-size: 1.25em;
    color: $color-darkgrey;
  }
}

main {
  margin-top: $header-height;

  background-color: $color-lightgrey;
}

//-------------------------------------------- 
// Sections
//--------------------------------------------
section {
  position: relative;
}

.section-padding {
  padding: 4em 1em;

  @media (min-width: $mq-small) {
    padding: 6em 2em;
  }

  @media (min-width: $mq-med) {
    padding: {
      right: 1em;
      left: 1em;
    }
  }
}

.section-padding--half {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding: 3em 2em;
  }
}

//-------------------------------------------- 
// Grid
//--------------------------------------------
.grid-small {
  @extend %auto-margin;

  width: 100%;
  max-width: 38em;

  @media (min-width: $mq-med) {
    width: 50%;
  }
}

//----------------------------------------------
// Sep
//---------------------------------------------- 
.sep {
  height: 1px;
  width: 100%;
  margin: {
    top: 0;
    bottom: 0;
  }

  border: 0;
  background-color: rgba($color-black, 0.1);
}

