//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  padding-top: 2em;

  border-top: $border;

  &__container {
    margin-top: 3em;
  }

  &__text {
    @extend %text-center;

    margin-bottom: 2em;
  }

  &__tags {
    @extend %flex-center;
    @extend %no-list-style;

    flex-wrap: wrap;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__link {
    font-size: $font-small;
    color: $color-grey;
    transition: color 200ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: $color-black;
    }
  }

  &__social {
    @extend %flex-center;
    @extend %no-list-style;

    margin-top: 2em;

    & > *:not(:last-child) {
      margin-right: 0.75em;
    }

    a {
      font-size: 1.25em;
      color: $color-darkgrey;
    }
  }
}

//----------------------------------------------
// Flex based sticky footer
//---------------------------------------------- 
// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

main {
  // flex-grow: 1;
  margin-top: $header-height;
}
