---
layout: default
---
<div class="post">
  <article>
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2>{{ page.title }}</h2>

        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown">
          {{content}}
        </div>

        {% include share.html %}
      </div>
    </div>

    <!-- Everything inside the #author tags pulls data from the author -->
    {% if page.author %}
      <div class="section-padding--none">
        <div class="grid">
          <hr class="sep"/>
        </div>
      </div>

      <div class="section-padding">
        <div class="grid-small">
          <span class="post__author">Posted by <a href="{{url}}" title="More By {{ page.author }}">{{ page.author }}</a></span>
          {% for author in site.author %}
            {% if author[0] == page.author %}
              <p class="post__bio">{{ author[1] }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% include disqus.html %}

  </article>
</div>

<!-- Links to Previous/Next posts -->
{% if page.related %}
  <section class="related section-padding">
    <div class="grid-xlarge">
      <h2 class="related__title">Related</h2>
      <div class="related__container"> 
        {% for post in site.posts limit: 3 %}
          <article class="related__post">
            <a class="related__link" href="{{ post.url | prepend: site.baseurl }}">
              {% if post.image %}
                <figure class="related__img">
                  <img src="{{ post.image }}" alt="{{ post.title }}"/>
                </figure>
              {% endif %}
              <div class="related__content">
                <h2 class="related__text">{{ post.title }}</h2>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
