//----------------------------------------------   
//  Main Styling Build
//  
//  Fonts:      Fonts, icons
//  Tools:      Configs, variables, extends, mixins
//  Base:       Styles for base level elements
//  Vendor:     Vendor specific styles
//  Regions:    Main layouts
//  Components: Modular components -> Most styles
//  Utils:      Helper classes, utilities, animations
//---------------------------------------------- 

//----------------------------------------------
// Fonts
//---------------------------------------------- 
@import 'fonts/_roboto';
@import 'fonts/_lora';
@import 'fonts/_icons';

//----------------------------------------------
// Tools: Main Config & Global Variables
//---------------------------------------------- 
@import 'tools/_config';

//----------------------------------------------
// Tools: Mixins
//---------------------------------------------- 
@import 'tools/_mixins-animations';
@import 'tools/_mixins-grid';
@import 'tools/_mixins-type';

//----------------------------------------------
// Tools: Extends
//---------------------------------------------- 
@import 'tools/_extends-type';
@import 'tools/_extends';

//----------------------------------------------
// Vendor: Normalize
//---------------------------------------------- 
@import 'vendor/_normalize';
@import 'base/_normalizer';

//----------------------------------------------   
// Base
//---------------------------------------------- 
@import 'base/_buttons';
@import 'base/_code';
@import 'base/_forms';
@import 'base/_links';
@import 'base/_lists';
@import 'base/_media';
@import 'base/_typography';

//----------------------------------------------   
// Vendor
//----------------------------------------------  
@import 'vendor/_zoom';

//----------------------------------------------
// Regions
//---------------------------------------------- 
@import 'regions/_footer';
@import 'regions/_header';

//----------------------------------------------   
// Components
//---------------------------------------------- 
@import 'components/_contact';
@import 'components/_form';
@import 'components/_mast';
@import 'components/_popup';
@import 'components/_post';
@import 'components/_posts';
@import 'components/_related';
@import 'components/_subscribe';
@import 'components/_zoom';

//----------------------------------------------   
// Utils
//---------------------------------------------- 
@import 'utils/_animations-keyframes';
@import 'utils/_decor';
@import 'utils/_helpers-grid';
@import 'utils/_helpers';
@import 'utils/_page-transitions';
